<!--* Marko Dasic 2022/0731 -->

{% extends 'base_for_pages.html' %}

{% block content %}

<div>

    <div class="profile_user_all">
        {% if user.picture %}
            <img src="{{ user.picture.url }}" alt="{{ user.username }}'s profile picture" class="profile-picture2" width="900" height="900" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        {% else %}
            <img src="/media/default_avatar.jpg" alt="Default profile picture" class="profile-picture2" width="900" height="900" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        {% endif %}
    </div>

    <h1 class="rating-form__heading">Add Rating for {{ user.username }}</h1>

    <div class="rating-form">       
        <form method="POST" action="" class="rating-form__form">
            {% csrf_token %}

            {{ form.as_p }}

            <div><button type="submit" class="rating-form__button">Submit</button></div>
        </form>
    </div>
</div>

{% endblock %}
